<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html>
<head>
  <title>K2GXT Imagine Heatmap</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZbXvTGbKzf8e5lxf1BV4TrVh2rW1KiYQ&libraries=visualization&callback=getMap"
    async defer></script>
  <script src="../javascripts/google-map.js"></script>
</head>
<body> 
 	<div id="map-canvas"></div>
</body>
</html>